<?php

/**
 * Configuration file for running tests
 * This file should contain all the configuration information needed to run
 * the automated test suit
 * host - Hostname where the database is located
 * database - Database name
 * user - username to connect to the database
 * password - password for the username
 * 
 */
$config->setParameterValue("host", "localhost");
$config->setParameterValue("database", "contas_test");
$config->setParameterValue("user", "your-username");
$config->setParameterValue("password", "your-password");
$config->setParameterValue("smtp", "localhost");
$config->setParameterValue("smtp_port", "25");
$config->setParameterValue("from", "youremailhere@example.com");
