php_value auto_prepend_file prepend.php
php_value display_errors on
php_value display_startup_errors on
<Files "config.php">
  Order allow,deny
  Deny from all
</Files>
<Files "config.json">
  Order allow,deny
  Deny from all
</Files>
