<?php

/**
 * Local configuration file sample
 * Replace the parameters below with the correct values
 *
 * host - The hostname where the database server is located
 * database - The database name where information will be stored
 * user - Username to connect to the database - Should have all privileges on the database
 * password - Password for the user
 */
$config->setParameterValue("host", "localhost");
$config->setParameterValue("database", "contas");
$config->setParameterValue("user", "your-username");
$config->setParameterValue("password", "your-password");
$config->setParameterValue("smtp", "localhost");
$config->setParameterValue("smtp_port", "25");
$config->setParameterValue("from", "youremailhere@example.com");
$config->setParameterValue("url", "http://yourhostname/contas");
